<div
  class="login-container d-flex justify-content-center align-items-center vh-100"
>
  <div
    class="card shadow-lg border-0"
    style="width: 22rem; border-radius: 15px"
  >
  <div class="card-header">
      <h5 class="text-center fw-bolder">EMS</h5>
    </div>

    <div class="text-center pt-4">
      <div
        class="auth-icon bg-primary text-white rounded-circle d-inline-flex align-items-center justify-content-center"
      >
        <i class="bi bi-lock-fill"></i>
      </div>
    </div>
    
    <div class="card-body p-4">
      <h3 class="card-title text-center fw-bold mb-4">Login</h3>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label small fw-bold text-muted"
            >Email Address</label
          >
          <input
            type="email"
            formControlName="email"
            class="form-control shadow-sm"
            id="email"
            placeholder="name@company.com"
          />
        </div>

        <div class="mb-4">
          <label for="password" class="form-label small fw-bold text-muted"
            >Password</label
          >
          <input
            type="password"
            formControlName="password"
            class="form-control shadow-sm"
            id="password"
            placeholder="••••••••"
          />
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn btn-danger py-2 fw-bolder"
            [disabled]="loginForm.invalid"
          >
            Sign In
          </button>
        </div>
      </form>

      <!-- <div class="text-center mt-3">
        <a href="#" class="text-decoration-none small">Forgot password?</a>
      </div> -->
    </div>
  </div>
</div>
