<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title fw-bold mb-4">Add New Salary</h5>
          <form [formGroup]="salaryForm">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="department" class="form-label">Department</label>
                  <span class="text-danger">*</span>
                  <select
                    formControlName="department"
                    class="form-select"
                    id="department"
                  >
                    <option value="" disabled selected>
                      Select Department
                    </option>
                    @for (dept of department; track dept._id) {
                      <option [value]="dept._id">
                        {{ dept.name }}
                      </option>
                    }
                  </select>
                  @if (
                    salaryForm.get("department")?.invalid &&
                    salaryForm.get("department")?.touched
                  ) {
                    <div>
                      <span class="text-danger"
                        >Department field is required</span
                      >
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="employee" class="form-label">Employee</label>
                  <span class="text-danger">*</span>
                  <select
                    formControlName="employee"
                    class="form-select"
                    id="employee"
                  >
                    <option value="" disabled selected>Select Employee</option>
                    @for (emp of employees; track emp._id) {
                      <option [value]="emp._id">
                        {{ emp.name }}
                      </option>
                    }
                  </select>
                  @if (
                    salaryForm.get("employee")?.invalid &&
                    salaryForm.get("employee")?.touched
                  ) {
                    <div>
                      <span class="text-danger"
                        >Employee Id field is required</span
                      >
                    </div>
                  }
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="basic" class="form-label">Basic Salary</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="basic"
                    class="form-control"
                    id="basic"
                    placeholder="Basic Salary"
                  />
                  @if (
                    salaryForm.get("basic")?.invalid &&
                    salaryForm.get("basic")?.touched
                  ) {
                    <div>
                      <span class="text-danger"
                        >Basic field is required</span
                      >
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="bonus" class="form-label">Bonus</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="bonus"
                    class="form-control"
                    id="bonus"
                    placeholder="Bonus"
                  />
                  @if (
                    salaryForm.get("bonus")?.invalid &&
                    salaryForm.get("bonus")?.touched
                  ) {
                    <div>
                      <span class="text-danger"
                        >Bonus field is required</span
                      >
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="deduction" class="form-label">Deduction</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="deduction"
                    class="form-control"
                    id="deduction"
                    placeholder="Deduction"
                  />
                  @if (
                    salaryForm.get("deduction")?.invalid &&
                    salaryForm.get("deduction")?.touched
                  ) {
                    <div>
                      <span class="text-danger"
                        >Deduction field is required</span
                      >
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="pf" class="form-label">PF</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="pf"
                    class="form-control"
                    id="pf"
                    placeholder="PF"
                  />
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="professionalTax" class="form-label">Professional Tax</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="professionalTax"
                    class="form-control"
                    id="professionalTax"
                    placeholder="Professional Tax"
                  />
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="incomeTax" class="form-label">Income Tax</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="incomeTax"
                    class="form-control"
                    id="incomeTax"
                    placeholder="Income Tax"
                  />
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="total" class="form-label">Total</label>
                  <span class="text-danger">*</span>
                  <input
                    type="number"
                    formControlName="total"
                    class="form-control"
                    id="total"
                    placeholder="Total"
                  />
                  
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <button
                  [disabled]="salaryForm.invalid"
                  class="btn btn-danger w-100 fw-bolder"
                  (click)="createSalary()"
                >
                  Add Salary
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
