<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="fw-bolder text-center text-dark">Manage Employees</h2>
      <hr class="w-25 mx-auto" />
    </div>
  </div>

  <form class="d-flex"></form>

  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search By Name"
          aria-label="Search"
          [(ngModel)]="searchId"
        />
        <button
          class="btn btn-outline-danger fw-bolder"
          (click)="searchEmployee()"
          type="submit"
        >
          Search
        </button>
      </div>

      <button
        class="btn btn-danger d-flex align-items-center gap-2 fw-bolder"
        (click)="addEmp()"
      >
        <i class="fa fa-plus"></i>
        Add New Employees
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="ps-3">S NO</th>
                <th scope="col">PHOTO</th>
                <th scope="col">NAME</th>
                <th scope="col">DOB</th>
                <th scope="col">EMAIL</th>
                <th scope="col">DEPARTMENT</th>
                <th scope="col">POSITION</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              @if (nodatafound) {
                <tr>
                  <td colspan="8" class="text-center text-danger fw-bold">
                    No Employee Found
                  </td>
                </tr>
              }
              @for (employee of filteredEmployee; track $index) {
                <tr>
                  <td class="ps-3 fw-bold">{{ $index + 1 }}</td>
                  <td>
                    <div class="d-flex gap-1">
                      @for (img of employee.image.split(","); track $index) {
                        <img
                          [src]="img.trim()"
                          class="rounded-circle border border-2 shadow-sm"
                          style="object-fit: cover"
                          width="40"
                          height="40"
                          alt="Employee"
                        />
                      }
                    </div>
                  </td>
                  <td>
                    <span class="fw-semibold text-dark">{{
                      employee.name
                    }}</span>
                  </td>
                  <td>
                    <span class="fw-semibold text-dark">{{
                      employee.dateOfBirth | date: "dd-MM-yyyy"
                    }}</span>
                  </td>
                  <td>{{ employee.email }}</td>
                  <td>
                    <span class="badge bg-info text-dark">{{
                      employee.department.name
                    }}</span>
                  </td>
                  <td>{{ employee.position }}</td>
                  <td>
                    <span>
                      <button
                        class="btn btn-primary me-2 fw-bolder"
                        (click)="viewEmployee(employee._id)"
                      >
                        View
                      </button>
                      <button
                        class="btn btn-info me-2 fw-bolder text-white"
                        (click)="editEmployee(employee._id)"
                      >
                        Edit
                      </button>
                      <button
                        class="btn btn-danger me-2 fw-bolder"
                        (click)="deleteEmployee(employee._id)"
                      >
                        Delete
                      </button>
                      <button
                        class="btn btn-success me-2 fw-bolder"
                        (click)="viewSalary(employee._id)"
                      >
                        Salary
                      </button>
                      <button
                        class="btn btn-danger me-2 fw-bolder"
                        (click)="viewLeave(employee._id)"
                      >
                        Leave
                      </button>
                    </span>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
