<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title fw-bold">Change Password</h5>
          <form [formGroup]="changePasswordForm">
            <div class="mb-3">
              <label class="form-label">Current Password</label>
              <span class="text-danger">*</span>
              <div class="input-group">
                <input
                  class="form-control"
                  formControlName="currentPassword"
                  [type]="showCurrentPassword ? 'text' : 'password'"
                  placeholder="Enter current password"
                />

                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="showCurrentPassword = !showCurrentPassword"
                >
                  <i
                    [class]="
                      showCurrentPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                    "
                  ></i>
                </button>

                
              </div>
              @if (
                changePasswordForm.get("currentPassword")?.invalid &&
                changePasswordForm.get("currentPassword")?.touched
              ) {
                <small class="text-danger">Current Password field is required</small>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">New Password</label>
              <span class="text-danger">*</span>
              <div class="input-group">
                <input
                  class="form-control"
                  formControlName="newPassword"
                  [type]="showNewPassword ? 'text' : 'password'"
                  placeholder="Enter new password"
                />
                 <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="showNewPassword = !showNewPassword"
              >
                <i
                  [class]="showNewPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
                ></i>
              </button>
              </div>
               @if (
                changePasswordForm.get("newPassword")?.invalid &&
                changePasswordForm.get("newPassword")?.touched
              ) {
                <small class="text-danger">New Password field is required</small>
              }
             
            </div>

            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <span class="text-danger">*</span>
              <div class="input-group">
                <input
                  class="form-control"
                  formControlName="confirmPassword"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  placeholder="Confirm new password"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="showConfirmPassword = !showConfirmPassword"
                >
                  <i
                    [class]="
                      showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                    "
                  ></i>
                </button>
                
              </div>
              @if (
                changePasswordForm.get("confirmPassword")?.invalid &&
                changePasswordForm.get("confirmPassword")?.touched
              ) {
                <small class="text-danger">Confirm Password field is required</small>
              }
            </div>

            <button
              type="submit"
              class="btn btn-danger w-100 fw-bolder"
              (click)="changePassord()"
            >
              Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
