<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="fw-bolder text-center text-primary">Manage Leaves</h2>
      <hr class="w-25 mx-auto" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary d-flex align-items-center gap-2" (click)="addNewLeave()">
        <i class="fa fa-plus"></i>
        Add New Leave
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-dark">
              <tr>
                <th class="ps-3">S NO</th>
                <th>EMP ID</th>
                <th>FROM DATE</th>
                <th>TO DATE</th>
                <th>LEAVE TYPE</th>
                <th>REASON</th>
                <th>APPLIED AT</th>
                <th>STATUS</th>
              </tr>
            </thead>
            <tbody>
              
                @for (leave of leaves; track leave._id) {
                  <tr>
                    <td class="ps-3 fw-bold">{{ $index + 1 }}</td>
                    <td class="fw-bold">{{ leave.employee }}</td>
                    <td class="fw-bold">
                      {{ leave.fromDate | date: "dd-MM-yyyy" }}
                    </td>
                    <td class="fw-bold">
                      {{ leave.toDate | date: "dd-MM-yyyy" }}
                    </td>
                    <td class="fw-bold">{{ leave.leaveType }}</td>
                    <td class="fw-bold">{{ leave.reason }}</td>
                    <td class="fw-bold">
                      {{ leave.appliedAt | date: "dd-MM-yyyy" }}
                    </td>
                    <td class="fw-bold">{{ leave.status }}</td>
                    
                  </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
