<section class="container my-5">
  <h2 class="text-center mb-4">Payslip</h2>
  
  <div width="600px" class="mb-5 p-3">
    <div class="col-12">
      <button class="btn btn-danger mb-3 fw-bold" (click)="generatePDF()">Generate PDF</button>
      <div id="pdf" class="card rounded-3 shadow-sm border-2">
        <div class="card-header" style="background-color: rgb(158, 243, 127)" ;>
          <div class="border-bottom border-dark pb-2 mb-6">
            <div class="d-flex justify-content-between align-items-end">
              <p class="fw-bold fs-2 mb-0 lh-1">
                <i class="fa fa-id-card-o me-2 fs-2"></i>EMS PORTAL
              </p>
              <p class="mb-0">Payslip</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-0 text-secondary">Payslip & Earnings Statement</p>
              <p class="mb-0 fw-bold text-secondary">
                {{ today | date: "MMMM yyyy" }}
              </p>
            </div>
          </div>
          <div class="border-bottom pb-2 mb-6">
            <div class="border-bottom border-dark pb-2 mb-4">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <p class="mb-0 small text-uppercase fw-bold">Employee ID</p>
                  <p class="mb-0 text-secondary fw-bold">{{ employees._id }}</p>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 small text-uppercase fw-bold">Employee Name</p>
                  <p class="mb-0 text-secondary fw-bold">
                    {{ employees.name }}
                  </p>
                </div>

                <div class="d-flex flex-column">
                  <p class="mb-0 small text-uppercase fw-bold">Department</p>
                  <p class="mb-0 text-secondary fw-bold">
                    {{ departments.name }}
                  </p>
                </div>
                <div class="d-flex flex-column">
                  <p class="mb-0 small text-uppercase fw-bold">Position</p>
                  <p class="mb-0 text-secondary fw-bold">
                    {{ employees.position }}
                  </p>
                </div>

                <div class="d-flex flex-column text-end">
                  <p class="mb-0 small text-uppercase fw-bold">Pay Date</p>
                  <p class="mb-0 text-secondary fw-bold">
                    {{ salaries[0].createdAt | date }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom pb-2 border-dark mb-3">
          <h3 class="card-title text-center">Bank Details</h3>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
              <p class="mb-0 small text-uppercase fw-bold">Account Number</p>
              <p class="mb-0 text-secondary fw-bold">
                {{ employees.bankDetails.accountNumber }}
              </p>
            </div>

            <div class="d-flex flex-column">
              <p class="mb-0 small text-uppercase fw-bold">Bank Name</p>
              <p class="mb-0 text-secondary fw-bold">
                {{ employees.bankDetails.bankName }}
              </p>
            </div>
            <div class="d-flex flex-column">
              <p class="mb-0 small text-uppercase fw-bold">IFSC Code</p>
              <p class="mb-0 text-secondary fw-bold">
                {{ employees.bankDetails.ifscCode }}
              </p>
            </div>
            <div class="d-flex flex-column">
              <p class="mb-0 small text-uppercase fw-bold">Branch Name</p>
              <p class="mb-0 text-secondary fw-bold">
                {{ employees.bankDetails.branch }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body mb-3">
          <div class="row">
            <div class="col-md-6 border-end">
              <h6
                class="text-uppercase fw-bold text-success border-bottom pb-2"
              >
                Earnings
              </h6>

              <div
                class="d-flex justify-content-between align-items-center py-2"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Basic Salary
                </p>
                <p class="mb-0 fw-bold">₹{{ salaries[0].basic }}</p>
              </div>

              <div
                class="d-flex justify-content-between align-items-center py-2 pb-2"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Bonus
                </p>
                <p class="mb-0 fw-bold">₹{{ salaries[0].bonus }}</p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark-subtle pb-4 border-top border-dark-subtle pt-4"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Total Earnings
                </p>
                <p class="mb-0 fw-bold">₹{{ totalEarnings }}</p>
              </div>
            </div>

            <div class="col-md-6">
              <h6 class="text-uppercase fw-bold text-danger border-bottom pb-2">
                Deductions
              </h6>

              <div
                class="d-flex justify-content-between align-items-center py-2 "
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Income Tax (TDS)
                </p>
                <p class="mb-0 fw-bold text-danger">
                  -₹{{ salaries[0].incomeTax }}
                </p>
              </div>

              <div
                class="d-flex justify-content-between align-items-center py-2"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Professional Tax
                </p>
                <p class="mb-0 fw-bold text-danger">
                  -₹{{ salaries[0]?.professionalTax }}
                </p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center py-2"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Provident Fund
                </p>
                <p class="mb-0 fw-bold text-danger">-₹{{ salaries[0]?.pf }}</p>
              </div>
              <div
                class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark border-top border-dark"
              >
                <p class="mb-0 small text-uppercase fw-semibold text-muted">
                  Total deductions
                </p>
                <p class="mb-0 fw-bold text-danger">₹{{ totalDeductions }}</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card-footer border-top-0 mt-3 rounded-3 shadow-sm p-4"
        style="background-color: rgb(158, 243, 127)">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-0 fw-bold text-dark">Net Payable Amount</h5>
              <small class="text-muted text-uppercase"
                >For the month of March 2026</small
              >
            </div>
            <div class="text-end">
              <h3 class="mb-0 fw-bolder">₹{{ salaries[0].total }}</h3>
              <span
                class="badge rounded-pill bg-success-subtle text-success border border-success"
                >Paid</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
