<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-2 fw-bolder" style="color:white">EMS Portal</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    @if (userRole === "admin") {
      <li class="nav-item">
        <a routerLink="/admin/dashboard" class="nav-link fs-5 fw-bolder" aria-current="page" routerLinkActive="active-link" >
          
          <i class="fa fa-tachometer me-2"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/get-all-employee" class="nav-link text-white fs-5 fw-bolder" routerLinkActive="active-link">
          
        <i class="fa fa-user-circle me-2"></i>  Employees
        </a>
      </li>
      <li>
        <a routerLink="/admin/get-all-department" class="nav-link text-white fs-5 fw-bolder" routerLinkActive="active-link">
          
          <i class="fa fa-building-o me-2"></i> Departments
        </a>
      </li>
      <li>
        <a routerLink="/admin/get-all-leave" class="nav-link text-white fs-5 fw-bolder" routerLinkActive="active-link">
          
        <i class="fa fa-plane me-2"></i>  Leaves
        </a>
      </li>
      <li>
        <a routerLink="/admin/add-salaries" class="nav-link text-white fs-5 fw-bolder" routerLinkActive="active-link">
         
        <i class="fa fa-rupee me-2"></i>  Salaries
        </a>
      </li>
      <li>
        <a routerLink="/admin/change-password" class="nav-link text-white fs-5 fw-bolder" routerLinkActive="active-link">
         
        <i class="fa fa-gear me-2" style="color:white"></i>  Settings
        </a>
      </li>
    }
    @if (userRole === "employee") {
      <li>
        <a
          routerLink="/employee/employee-dashboard"
          class="nav-link text-white fs-5 fw-bolder"
        >
          
          <i class="fa fa-tachometer me-2"></i> Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/employee/my-profile"
          class="nav-link text-white fs-5 fw-bolder"
        >
          
          <i class="fa fa-user-circle me-2"></i> My Profile
        </a>
      </li>
      <li>
        <a
          routerLink="/employee/my-leaves"
          class="nav-link text-white fs-5 fw-bolder"
        >
          
        <i class="fa fa-plane me-2"></i>  Leave
        </a>
      </li>
      <li>
        <a
          routerLink="/employee/get-my-salary"
          class="nav-link text-white fs-5 fw-bolder"
        >
          
         <i class="fa fa-rupee me-2"></i> Salary
        </a>
      </li>
      <li>
        <a
          routerLink="/employee/change-password"
          class="nav-link text-white fs-5 fw-bolder"
        >
          <i class="fa fa-gear me-2" style="color:white"></i>
          Settings
        </a>
      </li>
      
    }
    <li>
        <a
          routerLink="/login"
          class="nav-link text-white fs-5 fw-bolder"
        >
          <i class="fa fa-sign-in me-2" style="color:white"></i>
          Login
        </a>
      </li>
  </ul>
  <hr />
</div>
