<div class="row">
  <div class="col-12">
    <div class="card shadow-sm">
      <div class="card-title">
        <h4 class="text-center fw-bolder">Manage Salary</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-dark">
            <tr>
              <th scope="col">EMP ID</th>
              <th scope="col">BASIC</th>
              <th scope="col">BONUS</th>
              <th scope="col">DEDUCTION</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            @if (salaries.length === 0) {
              <td colspan="5" class="text-center py-4">
                <div class="text-muted">
                  <i class="bi bi-info-circle me-2"></i>
                  <p class="text-danger">No salary data found</p>
                </div>
              </td>
            }

            <tr>
              <td>{{ salaries.employee._id }}</td>
              <td>{{ salaries.basic }}</td>
              <td>{{ salaries.bonus }}</td>
              <td>{{ salaries.deduction }}</td>
              <td>{{ salaries.total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
