<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="fw-bolder text-center text-dark">Manage Department</h2>
      <hr class="w-25 mx-auto" />
    </div>
  </div>

  <div class="row mb-3">
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-between align-items-center">
        
        <div class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search By Name"
            [(ngModel)]="searchId"
          />
          <button
            class="btn btn-outline-danger fw-bolder"
            (click)="searchDepartment()"
            type="button"
          >
            Search
          </button>
        </div>

        <button
          class="btn btn-danger d-flex align-items-center gap-2 fw-bolder"
          (click)="addDept()"
        >
          <i class="fa fa-plus"></i>
          Add New Departments
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="ps-3">S NO</th>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            @if (nodatafound) {
                <tr>
                  <td colspan="8" class="text-center text-danger fw-bold">
                    No Employee Found
                  </td>
                </tr>
              }
            @for (department of paginatedLeaves; track $index) {
              <tbody>
                <tr>
                  <td class="ps-3 fw-bold">{{ $index + 1 }}</td>
                  <td class="ps-3 fw-bold">{{ department.name }}</td>

                  <td>
                    <span class="fw-semibold text-dark">{{
                      department.description
                    }}</span>
                  </td>
                  <td>
                    <div>
                      <button
                        class="btn btn-info me-2 fw-bolder text-white"
                        (click)="editDepartment(department._id)"
                      >
                        Edit
                      </button>
                      <button
                        class="btn btn-danger fw-bolder"
                        (click)="deleteDepartment(department._id)"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            }
          </table>
          <div class="d-flex justify-content-end mt-3">
            <button
              class="btn btn-outline-danger me-2"
              (click)="prevPage()"
              [disabled]="currentPage === 1"
            >
              Prev
            </button>

            <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>

            <button
              class="btn btn-outline-danger"
              (click)="nextPage()"
              [disabled]="currentPage >= totalPages"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
