<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-body">
          @if (isEdit === false) {
            <h5 class="card-title fw-bold mb-4">Add New Employee</h5>
          } @else {
            <h5 class="card-title fw-bold mb-4">Update New Employee</h5>
          }

          <form [formGroup]="employeeForm">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <span class="text-danger">*</span>
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                  />
                  @if (
                  employeeForm.get("name")?.invalid &&
                  employeeForm.get("name")?.touched
                ) {
                  <div>
                    <span class="text-danger">Name field is required</span>
                  </div>
                }
                </div>
                
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <span class="text-danger">*</span>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    id="email"
                    placeholder="yourname@company.com"
                  />
                  @if (
                  employeeForm.get("email")?.invalid &&
                  employeeForm.get("email")?.touched
                ) {
                  <div>
                    <span class="text-danger">Email field is required</span>
                  </div>
                }
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <span class="text-danger">*</span>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                  />
                  @if (
                  employeeForm.get("password")?.invalid &&
                  employeeForm.get("password")?.touched
                ) {
                  <div>
                    <span class="text-danger">Password field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="department" class="form-label">Department</label>
                  <span class="text-danger">*</span>
                  <select
                    formControlName="department"
                    class="form-select"
                    id="department"
                  >
                    <option value="" disabled selected>
                      Select Department
                    </option>
                    @for (dept of department; track dept._id) {
                      <option [value]="dept._id">
                        {{ dept.name }}
                      </option>
                    }
                  </select>
                  @if (
                  employeeForm.get("department")?.invalid &&
                  employeeForm.get("department")?.touched
                ) {
                  <div>
                    <span class="text-danger">Department field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender</label>
                  <span class="text-danger">*</span>
                  <select
                    formControlName="gender"
                    class="form-select"
                    id="gender"
                  >
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  @if (
                  employeeForm.get("gender")?.invalid &&
                  employeeForm.get("gender")?.touched
                ) {
                  <div>
                    <span class="text-danger">Gender field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="dateOfBirth" class="form-label">DOB</label>
                  <span class="text-danger">*</span>
                  <input
                    type="date"
                    formControlName="dateOfBirth"
                    class="form-control"
                    id="dateOfBirth"
                    placeholder="DOB"
                  />
                  @if (
                  employeeForm.get("dateOfBirth")?.invalid &&
                  employeeForm.get("dateOfBirth")?.touched
                ) {
                  <div>
                    <span class="text-danger">DOB field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="position" class="form-label">Position</label>
                  <span class="text-danger">*</span>
                  <input
                    type="text"
                    formControlName="position"
                    class="form-control"
                    id="position"
                    placeholder="Position"
                  />
                  @if (
                  employeeForm.get("position")?.invalid &&
                  employeeForm.get("position")?.touched
                ) {
                  <div>
                    <span class="text-danger">Position field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <span class="text-danger">*</span>
                  <input
                    type="text"
                    formControlName="role"
                    class="form-control"
                    id="role"
                    placeholder="Role"
                  />
                  @if (
                  employeeForm.get("role")?.invalid &&
                  employeeForm.get("role")?.touched
                ) {
                  <div>
                    <span class="text-danger">Role field is required</span>
                  </div>
                }
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label"
                    >Employee Photo<span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="employeePhoto"
                    name="employeePhoto"
                    placeholder="Enter URL"
                    required
                  />
                  @if (
                  employeeForm.get("employeePhoto")?.invalid &&
                  employeeForm.get("employeePhoto")?.touched
                ) {
                  <div>
                    <span class="text-danger">Employee Photo field is required</span>
                  </div>
                }
                </div>
              </div>
              @if (isEdit === false) {
                <div class="col-md-12 mt-3">
                  <button
                    class="btn btn-danger w-100 fw-bolder"
                    [disabled]="employeeForm.invalid"
                    (click)="addEmployee()"
                  >
                    Add Employee
                  </button>
                </div>
              } @else {
                <div class="col-md-12 mt-3">
                  <button
                    class="btn btn-danger w-100 fw-bolder"
                    (click)="addEmployee()"
                  >
                    Update Employee
                  </button>
                </div>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
