<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 380px">
    <h4 class="mb-1 fw-bolder">Forgot Password</h4>
    <p class="text-muted mb-4" style="font-size: 13px">
      Reset your account password below.
    </p>

    <form [formGroup]="forgetPasswordForm">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <span class="text-danger">*</span>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          formControlName="email"
          placeholder="john@company.com"
        />
        @if (
          forgetPasswordForm.get("email")?.invalid &&
          forgetPasswordForm.get("email")?.touched
        ) {
          <div>
            <span class="text-danger">Email field is required</span>
          </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label">New password</label>
        <span class="text-danger">*</span>
        <div class="input-group">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="newPassword"
            placeholder="New Password"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="showNewPassword = !showNewPassword"
          >
            <i [class]="showNewPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </button>
        </div>
        @if (
          forgetPasswordForm.get("newPassword")?.invalid &&
          forgetPasswordForm.get("newPassword")?.touched
        ) {
          <div>
            <span class="text-danger">New Password field is required</span>
          </div>
        }
      </div>
      <div class="mb-4">
        <label class="form-label">Confirm password</label>
        <span class="text-danger">*</span>
        <div class="input-group">
          <input
          formControlName="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          class="form-control"
          placeholder="Re-enter new password"
        />
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="showConfirmPassword = !showConfirmPassword"
          >
            <i [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </button>
        </div>
        @if (
          forgetPasswordForm.get("confirmPassword")?.invalid &&
          forgetPasswordForm.get("confirmPassword")?.touched
        ) {
          <div>
            <span class="text-danger">Confirm Password field is required</span>
          </div>
        }
      </div>
      <button
        type="button"
        [disabled]="forgetPasswordForm.invalid"
        class="btn w-100 text-white fw-bolder"
        style="background: #e03535"
        (click)="forgetPassword()"
      >
        Reset Password
      </button>
    </form>
    <p class="text-center mt-3" style="font-size: 13px; font-weight: bolder">
      Back to
      <a routerLink="/login" style="color: #e03535; font-weight: bolder"
        >Login</a
      >
    </p>
  </div>
</div>
